.skeleton {
    display: block !important;
    width: 100px;
    height: 50px;
    background-color: #e2e5e7;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    );
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;
  }
  @keyframes shine {
    to {
      background-position: right -40px top 0;
    }
  }
  .imageLabel {
      width: 80px;
  }
  .label_container {
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .label_container.top-left {
    top: 5px;
    left: 5px;
  }
  .label_container.top-center {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  .label_container.top-right {
    top: 5px;
    right: 5px;
  }
  .label_container.middle-left {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
  }
  .label_container.middle-center {
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
  }
  .label_container.middle-right {
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  }
  
  .label_container.bottom-left {
    bottom: 5px;
    left: 5px;
  }
  .label_container.bottom-center {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  .label_container.bottom-right {
    bottom: 5px;
    right: 5px;
  }
  
  #rotate {
    transform: rotate(360deg);
    transition: all ease-in 2s;
    animation: rotation 2s infinite !important;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  /*for bounce for bottom icon*/
  #bounce {
    animation: bounce 1s infinite !important;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  #pulse {
    animation: shadow-pulse 1s infinite !important;
  }
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
  }
  
  /*for wiggle icon*/
  #wiggle {
    animation: wiggle 0.5s infinite !important;
    animation-timing-function: linear;
  }
  
  @keyframes wiggle {
    0% {
      transform: translate(2px, 0);
    }
    50% {
      transform: translate(-2px, 0);
    }
    100% {
      transform: translate(2px, 0);
    }
  }
  
  @keyframes wiggle {
    0% {
      transform: translate(2px, 0);
    }
    50% {
      transform: translate(-2px, 0);
    }
    100% {
      transform: translate(2px, 0);
    }
  }
  
  #focus {
    animation-name: focus !important;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes focus {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  